<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>{{ message }}</h1>
  <h1>App Status: {{ isSecure }}</h1>
  <div *ngIf="title">
    <h1>App Title: {{ title }}</h1>
    <h1>App Message: {{ description }}</h1>
  </div>
  <ion-button (click)="onButtonPress()">button</ion-button>
</ion-content>
